<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#">Blog</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/map">Map</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/tracker">Tracker</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/weather">Weather</a>
  </li>
</ul>
<br>
<div class="container">
  <div class="feature" style="text-align:right;"><a class="btn btn-primary" href="/blogs/createBlog">Create</a></div>
  {{#each blogs}}
  <div class="creative_taital">
    <div class="dropdown" style="text-align:right;">
      <i class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
      </i>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/blogs/{{this.id}}/edit">編輯</a>
        <form action="/blogs/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
          <button type="submit" class="dropdown-item" style="outline:none;">刪除</button>
        </form>
      </div>
    </div>
    <h1 class="creative_text" style="text-align:center;">{{this.title}}</h1>
    <p style="color:#050000;text-align:center;">{{this.description}}</p>
    <div class="info">
      <p class="created_at">{{this.createdAt}}</p>
      <p class="created_location">{{this.location}}</p>
    </div>
  </div>
  <hr>
  {{/each}}