<link rel="stylesheet" href="/stylesheets/editRecord.css">

<div class="container">
  {{#if record}}
  <form action="/trackers/{{record.id}}?_method=PUT" method="POST" class='row newForm'>
    {{else}}
    <form action="/trackers" method="POST" class='row newForm'>
      {{/if}}
      <h1>支出新增頁面</h1>
      <div class="newRecord">
        <label for='product' class='new-label col-2'>支出明細:</label>
        <input type="text" class='new-input col-10' placeholder="product" name="product" value="{{record.product}}"
          required>
      </div>
      <div class="newRecord">
        <label for='categoryId' class='new-label col-2'>支出類別:</label>
        <select class="custom-select new-input col-10" id="categoryId" name="categoryId" required>
          {{#if record}}
          <option value="{{record.CategoryId}}">{{categoryName}}</option>
          <option disabled>類別</option>
          {{else}}
          <option disabled selected>類別</option>
          {{/if}}
          {{#each categories}}
          <option value="{{this.id}}">{{this.category}}</option>
          {{/each}}
        </select>
      </div>
      <div class="newRecord">
        <label for='date' class='new-label col-2'>支出日期:</label>
        <input type="date" class='new-input col-10' placeholder="date" name="date" value="{{record.date}}" required>
      </div>
      <div class="newRecord">
        <label for='price' class='new-label col-2'>支出金額:</label>
        <input type="text" class='new-input col-10' placeholder="price" name="price" value="{{record.price}}" required>
      </div>
      <div class="newRecord">
        <button type='submit' class="btn btn-success">create</button>
        <a href="/trackers" class="btn btn-danger">back</a>
      </div>
    </form>
</div>