<link rel="stylesheet" href="/stylesheets/tracker.css">

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link " href="/blogs">Blog</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/map">Map</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/trackers">Tracker</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/weather">Weather</a>
  </li>
</ul>
<br>
<div class="body">
  <div class="title">
    <h1>Travellover Tracker</h1>
  </div>
  <div class="containerCord">
    <div class="row d-flex justify-content-center m-3">
      <div class="filterForm">
        <form method="GET" action='/trackers/filters'>
          <div class="filters row mr-2">
            <div class="filterCategory">
              <select class="btn btn-secondary dropdown-toggle" name="category" onchange="submit()">
                {{#if categories}}<option>{{categories}}</option>{{/if}}
                <option class="dropdown-item" value="全部">全部</option>
                {{#each categoriesList}}
                <option class="dropdown-item" value="{{this.category}}">{{this.category}}</option>
                {{/each}}
              </select>
            </div>
            <div class="filterYear ml-3">
              <select class="btn btn-secondary dropdown-toggle" name="year" onchange="submit()">
                {{#if years}}<option>{{years}}</option>{{/if}}
                <option class="dropdown-item" value="全部">全部</option>
                {{#each yearsList}}
                <option class="dropdown-item" value="{{this}}">{{this}}</option>
                {{/each}}
              </select>
            </div>
            <div class="filterMonth ml-3">
              <select class="btn btn-secondary dropdown-toggle" name="month" onchange="submit()">
                {{#if months}}<option>{{months}}</option>{{/if}}
                <option class="dropdown-item" value="全部">全部</option>
                {{#each monthsList}}
                <option class="dropdown-item" value="{{this}}">{{this}}</option>
                {{/each}}
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="total-amount">
      <h1><span class='total-title'><sup>總金額:</sup></span>{{totalAmount}}</h1>
    </div>
    <ul class="record-ul">
      {{#each records}}
      <li class="record-li">
        <div class="row d-flex justify-content-between">
          <div class="icon col-1"><i class="{{this.CategoryId}} fas fa-2x"></i></div>
          <div class='detail col-4'>
            <div class='product'>
              <i class='product'>{{this.product}}</i>
            </div>
            <div class='date'>
              <i class='date'>{{this.date}}</i>
            </div>
            {{#if this.location}}
            <div class="location">
              <i class="created_location"><i class="fas fa-map-marker-alt"></i> {{this.location}}</i>
            </div>
            {{/if}}
          </div>
          <div class="price col-5">
            <i class='price'>{{this.price}}元</i>
          </div>
          <a class='btn btn-success btnFeature col-1' href="/trackers/{{this.id}}/edit">編輯</a>
          <form action="/trackers/{{this.id}}?_method=DELETE" method="post" style="display: inline;"
            onsubmit="return deleteCheckAgain()" class='p-0 col-1' type="submit">
            <button class='btn btn-danger btnFeature' style="height:100%;">刪除</button>
          </form>
        </div>
      </li>
      {{/each}}
    </ul>
    <div class="create">
      <a href="/trackers/createRecord" class="btn btn-warning">新增支出</a>
    </div>
  </div>
</div>