<link rel="stylesheet" href="/stylesheets/tracker.css">


<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link " href="#">Blog</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/map">Map</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/trackers">Tracker</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/weather">Weather</a>
  </li>
</ul>
<br>
<div class="container">
  <div class="title">
    <h1>Travellover Tracker</h1>
  </div>
  <div class="input-group mb-3">
    <select class="custom-select" id="inputGroupSelect01">
      <option selected>類別</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>
  <div class="total-amount">
    <h1><span class='total-title'><sup>總金額:</sup></span>{{totalAmount}}</h1>
  </div>
  <ul class="record-ul">
    {{#each records}}
    <li class="record-li">
      <div class="row d-flex justify-content-between">
        <div class="icon col-1"><i class="{{this.CategoryId}} fas fa-2x"></i></div>
        <div class='detail col-4'>
          <div>
            <i class='product'>{{this.product}}</i>
          </div>
          <div>
            <i class='date'>{{this.date}}</i>
          </div>
        </div>
        <div class="price col-5">
          <i class='price'>{{this.price}}元</i>
        </div>
        <a class='btn btn-success col-1' href="/trackers/{{this.id}}/edit">編輯</a>
        <a class='btn btn-danger col-1' href="">刪除</a>
      </div>
    </li>
    {{/each}}
  </ul>
  <div class="create">
    <a href="/trackers/createRecord" class="btn btn-warning">新增支出</a>
  </div>
</div>